@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 14px;
  max-width: 1200px
}

#responsive {
  max-width: 550px;
  height: auto;
}

.head, .gallery, .navbar{
  display: flex;
  padding-right: 95px;
  padding-left: 95px;
  align-items: center;
}

/* -------------------------- NAVBAR -------------------------------- */
header, .head{
  background-color: #040404;
  color: #FFD18D;
}

.navbar{
  justify-content: space-between;
  height: 90px;
}

.navlist li {
  padding-left: 22px;
  display: inline-block;
  font-size: 12px;
}

/* -------------------------- HEAD -------------------------------- */

.head-header, .head-paragraph {
  margin-left: 11%;
}

.head-header {
  text-align: left;
  font-weight: bold;
  font-size: 46px;
  line-height: 54px; 
}
 
.head-paragraph {
  font-size: 18px;
  line-height: 21px; 
  padding-top: 20px;
}

/* ------------------- GALLERY ------------------------------- */

.gallery {
  background-color: #E6BC7E;
  flex-flow: row wrap;
  justify-content: center;
  padding: 45px 90px
}

.gallery img {
  padding: 40px 45px;
}

/* -------------------- MESSAGE FORM --------------------------- */
.message-splash  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-color:#403423;
}

.message-splash form {
  align-items: initial;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 40px 25px 22px 25px;
}

.label {
  font-size: 12px;
  color: #403423;
  text-align: left;
}

.user-input, .message {
  font-size: 12px;
  color: #403423;
  text-align: left;
  border: 1px solid #000000;}

.user-input {
  width: 280px;
  height: 30px;
  margin-top: 7px;
  margin-bottom: 17px;
  text-align: left;
  padding-left: 17px
}

.user-input:focus {
  border: 1px solid #BF9D69;
}

.message {
  margin-top: 7px;
  width: 280px;
  height: 80px;
  padding: 8px;
  padding-left: 17px;
  word-break: break-word;
}

.message:focus {
  border: 1px solid #BF9D69;
}

.user-input, .message, .send-button, .message-form {
  border-radius: 10px;
}

.send-button {
  font-size: 12px;
  background-color: #BF9D69;
  color: #FFFFFF;
  width: 280px;
  height: 35px;
  margin-top: 25px;
}

.send-button:hover {
  background: #403423;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #E6BC7E;
  font-size: 12px;
  color: #403423
}

/* --------------------------- RESPONSIVITY ------------------------- */

@media (max-width: 1001px){
  .head {
    flex-direction: column;
  }
}

@media (max-width: 500px){
  .navlist {
    display: none;
  }
  .head-img {
    display: none;
  }
}

@media (min-width:500px){
  .container{
    display: none;
  }
}

@media (max-width: 360px){
  .navbar {
    height: 75px;
    padding: 0 30px;  
  }

  .logo {
    height: 53px;
    width: 53px;
  }

  .head {
    padding: 0;
  }

  .head-header {
    font-size: 36px;
    line-height: 42px;
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }

  .head-paragraph {
    font-weight: normal;
    margin-left: 0;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 11px 13px;
  }
  .gallery {
    padding: 37.5px 42.5px
  }

  .gallery img {
    height: 250px;
    width: 250px;
    padding: 12.5px;
  }

  footer {
    height: 80px
  }

}


/* ---------------------------- HAMBURGER -------------------------- */

/* .container {
    background: dodgerblue;
    padding: 20px;
    height: 70px;
}

#hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

,
    span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $color;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    & span:nth-child(1) {
        top: 0px;
    }

    & span:nth-child(2) {
        top: 12px;
    }

    & span:nth-child(3) {
        top: 24px;
    }

    &.open span:nth-child(1) {
        top: 14px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    &.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    &.open span:nth-child(3) {
        top: 14px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
} */